---
layout: none
current_type: none
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Dev Portfolio</title>
        <link rel="stylesheet" href="style.css">
       
        <!-- setting up a general pie chart style -->
        <style>
            .piechart {
                width: 200px;
                height: 200px;
                border-radius: 10%;
                background-image: conic-gradient(
                    red 0% 20%,
                    blue 20% 80%,
                    green 80% 100%
                )
            }
        </style>
    </head>

    <body>
        <h1 class="main-title">Max</h1>
        <p class="disclaimer-text">/* human-generated website */</p>

        <h2>Project Categories:</h2>
        <hr>

        <ul style="display: flex; justify-content: center; padding: 0; flex-wrap: wrap">
          {% for type in site.data.types %}
          <button style="background-color: white; padding: 0px 0px; border: none; margin: 30px 10px">
            <a href="/{{ type.name }}.html" class="category-button" style="text-decoration-line: none; text-transform: capitalize; color: black; font-weight: bold;">
            {{ type.name }}
            </a>
          </button>
          {% endfor %}
        </ul>

        <hr style="margin-vertical: 3%">
        <h3 id="text" style="text-align: center">My projects are:</h3>

        <div id="langChart" class="piechart" style="margin: auto"></div>
        
        <div id="langLabels" style="text-align: center"></div>

        <!-- this is a little trick where I'm utilizing invisible div elements
            to read and write their id's and classes to be easily accessible
            from javascript code -->
        <ul>
            {% for project in site.data.projects %}
            <div id="{{ project.lines_of_code }}" class="lines {{ project.language[0] }}"></div>
            {% endfor %}
        </ul>

        <script>
            /* there's only a certain amount of general purpose languages out there, sometimes the best solution is a long list */
            let colors = ['skyblue', 'dodgerblue', 'mediumseagreen', 'indianred', 'purple', 'cyan'];
            
            /* runs on startup */
            buildPieChart();
            writePieLabels();

            /*----------FUNCTIONS START HERE----------*/

            /* refreshes my pie chart */
            function buildPieChart() {
                const percentMap = getPercentMap();
                let i = 0;

                let conicGradient = `conic-gradient(`;
                /* this is so that if i add different languages in the future, it automatically updates */
                for (let [key, value] of percentMap) {
                    conicGradient += `${colors[i]} ${value[0]}% ${value[1]}%, `;
                    i++;
                }
                conicGradient = conicGradient.slice(0, -2);
                conicGradient += `)`;
                /* finish */
                document.getElementById("langChart").style.backgroundImage = conicGradient;
            }

            function writePieLabels() {
                let i = 0; /* remember, I have to iterate through the colors */

                let html = '<ul style="padding: 0">';
                for (let lang of getLanguageNames()) {
                    html += `<p style="color: ${colors[i]}; margin: 0.5%;">`;
                    html += Math.round(getPercentLines(lang)) + '% ' + lang;
                    html += '</p>';

                    i++;
                }
                html += '</ul>';
                document.getElementById("langLabels").innerHTML = html;
            }

            /* multi-use */
            function getLanguageNames() {
                let langs = [];
                for (let element of document.getElementsByClassName("lines")) {
                    if (!langs.includes(element.classList[1])) {
                        langs.push(`${element.classList[1]}`);
                    }
                }
                return langs;
            }

            /* the main function that returns everything useful for the code pie chart */
            function getPercentMap() {
                const percentMap = new Map();
                const languages = getLanguageNames();
                let current = 0;
                for (let i = 0; i < languages.length; i++) {
                    percentMap.set(languages[i], [current, (current + getPercentLines(languages[i]))]);
                    console.log(`${languages[i]}: ${current} ${current + getPercentLines(languages[i])} | ${getPercentLines(languages[i])}`);
                    current += getPercentLines(languages[i]);
                }
                return percentMap;
            }

            /* total lines and percent lines are here to simplify the percentmap code */
            function getTotalLines() {
                let total = 0;
                const list = document.getElementsByClassName("lines");
                for (let element of list) {
                    total += parseInt(element.id);
                }
                return total;
            }

            function getPercentLines(language) {
                let langLines = 0;
                let totalLines = getTotalLines();

                for (let element of document.getElementsByClassName(language)) {
                    langLines += parseInt(element.id);
                }
                return (langLines * 100) / totalLines;
            }
        </script>
    </body>
</html>
